:root{
   --back_color: #221f2e;
   --front_color: #2e2b3f;
   --purple: #6240f6;
   --pink: #eb7ac8;
   --blue: #2db8e7;
}

*{
   font-family: 'Assistant', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   background: #221f2e;
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
}

.vcard{
   width: 450px;
   height: 550px;
   background: var(--front_color);
   border-radius: 8px;
   box-shadow: 5px 0px 20px rgba(0, 0, 0, 39%);
}

.header{
   height: 40%;
   position: relative;
}

.wave_bg{
   border-radius: 8px;
   position: relative;
   height: 100%;
   overflow: hidden;
}

.wave-01{
   position: absolute;
   width: 600px;
   height: 600px;
   background: linear-gradient(to top right,var(--purple),var(--pink));
   border-radius: 45%;
   top:-200%;
   left:-20%;
   animation: rotate 10s linear infinite;
}

.wave-02{
   position: absolute;
   width: 600px;
   height: 600px;
   background: linear-gradient(to top right,var(--purple),var(--pink));
   border-radius: 40%;
   top:-190%;
   left:-19%;
   opacity: 0.5;
   animation: rotate 10s linear infinite;
}

.wave-03{
   position: absolute;
   width: 600px;
   height: 600px;
   background: linear-gradient(to top right,var(--purple),var(--pink));
   border-radius: 45%;
   top:-189%;
   left:-18%;
   opacity: 0.2;
   animation: rotate 10s linear infinite;
}

@keyframes rotate{
   100%{
      transform: rotate(360deg);
   }
}

.profile_pic_content{
   width: 130px;
   height: 130px;
   position: absolute;
   left: 50%;
   transform: translate(-50%,-50%);
   top: 80%;
   text-align: center;
}

.profile_pic{
   max-width: 100%;
   max-height: 100%;
   border-radius: 50%;
}

.card-content{
   position: relative;
   top: 7%;
   text-align: center;
}

.name{
   color:var(--blue);
   font-weight: 700;
   font-size: 1.4em;
}

.info{
   margin-top: 5px;
   font-size: 14px;
   font-weight: 500;
   color: white;
   padding: 0px 10px;
   text-transform: uppercase;
}

.social{
   color: white;
   padding: 5px;
   margin-top: 40px;
}

.social a{
   text-decoration: none;
   color: white;
}

.social i{
   padding: 5px;
}

.button{
   display: block;
   text-decoration: none;
   width: 50%;
   margin-top: 10px;
   margin-left: 25%;
   background: linear-gradient(to top right,var(--purple),var(--pink));
   padding: 10px 20px;
   border-radius: 40px;
   color: white;
   font-weight: 700;
}

.button:hover{
   background: #4e4864;
}

@media(max-width:991px){
   body{
      position: fixed;
   }
   .vcard{
      width: auto;
      margin-top: -120px;
      background: #221f2e;
      box-shadow: none;
   }
   .wave_bg{
      overflow: unset;
   }
}